
.list-group{
    position: sticky;
    left:0;
    top: 80px;
}

.header_area{
    width: 100%;
    position: sticky!important;
    border-bottom:1px solid rgba(0, 0, 0, 0.125);
    background-color: white!important;
}
.nav-background{
    padding-top: 20px;
    padding-bottom: 20px;
    border-right:1px solid rgba(0, 0, 0, 0.125);
}
.header_area > .container{
    padding: 0 0;
    
}
.content-sub-title{
    font:500 12px/12px "Poppins", sans-serif;   
    color:#222222;
    font-size: 1rem;
}

.nav-title, .content-title{
    font:500 12px/80px "Poppins", sans-serif;
    font-size: 1.5rem;
    color:#222222;
}

.mypage_background{
    border-left:1px solid rgba(0, 0, 0, 0.125);
    border-right:1px solid rgba(0, 0, 0, 0.125);
    background-color: white;

}

.content-background{
    padding:20px 48px!important;
}
.mypage{
    width: 100%;
    background-color: beige;
}
