<?xml version="1.0" encoding="UTF-8" ?>
<!--  SQL 맵퍼 파일은 xml이기 때문에 제일 먼저 xml 선언이 옵니다. -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hotel.asia.mybatis.mapper.MemberMapper">

	<select id="isId" resultType="member">
		select * from member3 where id = #{id}
	</select>
	
	<insert id="insert">
		insert into member3
		values
		(#{id}, #{password}, #{name}, #{age}, #{gender}, #{email},#{auth})
	</insert>
	
	<update id="update">
		update member3
		set name = #{name}, 
			age = #{age},
			gender = #{gender},
			email = #{email}
		where id = #{id}
	</update>
	
	<delete id="delete">
		delete from member3 where id=#{id}
	</delete>
	
	<select id="getSearchList" resultType="member">
		select * from (select b.*, rownum rnum
						from (select * from member3
								where id != 'admin'
								<include refid="search_"/>
								order by id) b
						where rownum &lt;= #{end}
				)
		where rnum &gt;= #{start} and rnum &lt;= #{end}
	</select>
	
	<select id="getSearchListCount" resultType="int">
		select count(*) from member3
		where id != 'admin'
		<include refid="search_"/>
	</select>
	
	<sql id="search_">
		<if test="search_field!= null">
			and 
			<choose>
				<when test="search_field=='id'">id</when>
				<when test="search_field=='name'">name</when>
				<when test="search_field=='age'">age</when>
				<when test="search_field=='gender'">gender</when>
			</choose>
		like #{search_word}
		</if>
	</sql>

	
	<!-- 이 문장이 원래 문장 -> 간략하게 줄임 
		<select id="searchCount" parameterType="map" resultType="int">
			select count(*) from member
			where id != 'admin'
			<if test="search_field!= null">
				and 
				<choose>
					<when test="search_field=='id'">id</when>
					<when test="search_field=='name'">name</when>
					<when test="search_field=='age'">age</when>
					<when test="search_field=='gender'">gender</when>
				</choose>"/Users/bora/eclipse-workspace/MyBatis1/src/main/java/org/hta/mybatis/mapper/member.xml"
			like #{search_word}
			</if>
		</select>
	-->
	
	
	
	
	
	<!-- ==========[현능] 22-10-05 수정========== -->
	<select id="getMemberInfo" parameterType="String" resultType="member">
		select * from member where MEM_ID = #{id}
 	</select>
 	
 	<select id="phoneCheck" parameterType="int" resultType="member">
		select * from member where MEM_PHONE = #{phone}
 	</select>
 	
 	<update id="rewardPoint" parameterType="map">
 		update MEMBER
 		set    MEM_POINT = MEM_POINT + #{MEM_POINT}
 		where  MEM_ID = #{MEM_ID}
 	</update>
</mapper>