<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hotel.asia.mybatis.mapper.MyPageMapper">

	<select id="getRezDatas" resultType="rez">
		SELECT * FROM REZ WHERE
		MEM_ID = #{MEM_ID}
	</select>

	<select id="getOptRezData" resultType="optionreservation">
		SELECT * FROM
		OPTION_RESERVATION OPTREZ WHERE OPTREZ.REZ_ID = (SELECT REZ_ID FROM
		REZ WHERE MEM_ID=#{MEM_ID})
	</select>
	<select id="getPayment" resultType="payment">
		SELECT * FROM PAYMENT WHERE
		REZ_ID = (SELECT REZ_ID FROM REZ WHERE MEM_ID=#{MEM_ID})
	</select>
	<select id="getMemberData" resultType="member">
		SELECT * FROM MEMBER WHERE
		MEM_ID = #{MEM_ID}
	</select>


	

	<!-- 게시판 쿼리 -->
	<select id="getQuestionBoardCount" parameterType="string" resultType="_int">
		SELECT COUNT(*) FROM QUESTION_BOARD WHERE MEM_ID = #{MEM_ID}
	</select>

	<select id="getQuestionBoard" parameterType="map" resultType="_int">
		SELECT ROWNUM RN2 FROM 
		(SELECT ROWNUM RN, T1.* FROM (SELECT * FROM QUESTION_BOARD WHERE MEM_ID = 'user01') T1 ) T2 
		WHERE RN BETWEEN #{pageCalc.startItem} AND #{pageCalc.endItem}
	</select>

	<!-- 회원정보 쿼리 -->
	 <update id="updateMember" parameterType="map">
	 	UPDATE MEMBER WHERE 
	 </update>
</mapper>